<!--Carrega o template padrão-->
{% extends 'layout_es.html' %}

<!--Bloco para inserir titulo da página-->
{% block titulo%}MTPIC - Ver resultados {% endblock %}

<!--Bloco para inserir subTitulo da página-->
{% block subTitulo%} Ver resultados {% endblock%}

<!--Realiza o  carregamento da pasta static-->
{% load static %}

<!--Realiza o  carregamento dos arquivos css-->
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/comum.css' %}" />

<link rel="stylesheet" href="{% static 'css/vis.min.css' %}" />
{% endblock %}

{% block scripts%}
<script src="{% static 'js/vis.min.js' %}"></script>
<script src="{% static 'js/resultadoProcessamento_en.js' %}"></script>
{% endblock%}

<!--Bloco para inserção do conteudo da página-->
{% block content %}

<BR /> <BR /> <BR /> <BR /> <BR />
<div class="row">
    <div class="col-xs-11 col-sm-10 col-md-9 col-lg-9 descritivos">
        <h5>
            <span href="#" class="itemLista">Ver resultados</span>
        </h5>
        <p class="tb1">Este módulo permite la consulta de datos ya procesados, a través de la búsqueda por el identificador del elemento procesado.</p>
    </div>


</div>

<BR />

<div class="row">
    <div class="col-12 col-lg-6">
        <!--Bloco para Descrição do processo que essa página realzia-->

        <form id="formulario" name="formulario" action="" method="post">
            {% csrf_token %}

            <label for="idBusca">Introduzca el identificador para ver</label>
            <input class="form-control" type="number" name="idBusca" id="idBusca" />
            <br>
            <div class="col-4">
                <input type="button" class="btn btn-success" value="Processar" name="processar" id="processar">
            </div>
    </div>
    </form>


</div>
<div id="agrupaResultados">
    <label for="resultado">Resultado en forma de grafos:</label>
    <br>
    <br>
    <div id="mynetwork"></div>
    <label for="resultado">Resultado del texto procesado:</label>
    <br>
    <br>
    <div class="row">

        <div id="resultado" class="col-sm-12 col-lg-5 resultado">
            <h3 align="center">Tema Central</h3>
            <span id="temaCentral"><i>Ningún dato procesado</i></span>

        </div>

        <div id="resultadoSub" class="col-sm-12  col-lg-5 offset-lg-1 resultado">
            <h3 align="center">Conceptos</h3>
            <span id="subTema"><i>Ningún dato procesado</i></span>

        </div>
    </div>
</div>

<script>

</script>
{% endblock %}